body
{
 color:#333333;
 background-color:#ffffff;
}

input[type="button"]
{
 color:#666666;
 background-color:#ffffff;
 display:inline-block;
 padding:0.4em 0.8em;
 margin:0.1em 0.1em;
 text-decoration:none;
 border:solid 1px #999999;
 border-radius:3px;
}
@media (pointer: fine) {
 input[type="button"]:hover
 {
  color:#ffffdd;
  background-color:#333344;
 }
}
#select_target
{
 font-size:small;
 padding:0.3em 0.8em;
}

#loaded_info
{
 font-size:large;
 font-weight:bold;
}
select
{
 font-size:large;
 font-weight:bold;
}

#code_menu
{
 position:sticky;
 top:0px;
 bottom:0px;
 left:0px;
 right:0px;
 color:#777777;
 z-index:1;
}

#codes
{
 position:relative;
}

#learning_code
{
 resize:none;
 color:#111111;
 background-color:#ffffff00;
 width:calc(99vw - 2em);
 height:92vh;
}

#teacher_code
{
 resize:none;
 color:#888888;
 background-color:#ffffffff;
 width:calc(99vw - 2em);
 height:92vh;
 position:absolute;
 top:0px;
 left:0px;
 z-index:-1;
}
